@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&family=Roboto:wght@300;400;700&display=swap');
:root{
    --blue: #293462;
    --red: #F24C4C;
    --yellow: #EC9B3B;
    --grey: #222222;
    --black: #000000;
    --white: #ffffff;
    --ralenway: 'Raleway', sans-serif;
    --roboto: 'Roboto', sans-serif;
}
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
h1{font-size: 48px;} h2{font-size: 40px;}
h3{font-size: 38px;} h4{font-size: 30px;}
h5{font-size: 28px;} h6{font-size: 20px;}
a{text-decoration: none;}
.container{
    width: 90%;
    margin: 0 auto;
}
img{width: 100%;}